<!-- Passes the current page title to application.html.erb -->
<%= content_for :page_title, 'Home' %>

<h1 class="home-header">Welcome to ChessMaster!</h1>
<button class="home-button" id="signUpModal" data-trigger="modal">Sign Up</button>
<button class="home-button" id="login" data-trigger="modal">Login</button>
