<!-- Passes the current page title to application.html.erb -->
<%= content_for :page_title, 'Home' %>

<div class="home-container">
  <h1 class="home-header">Welcome to ChessMaster!</h1>
  <div class="home-buttons-container">
    <button class="home-button modal-trigger" data-modal-to-open="#signUpModal" type="button">Sign Up</button>
    <button class="home-button home-button-bottom modal-trigger" data-modal-to-open="#loginModal" type="button">Login</button>
  </div>
</div>
