@media (min-width: $screen-sm-min){

  /* =============================================
  Main Navbar
  ==============================================*/

  .navbar {
    height: $navbar-height-sm;
  }

  .footer {
    height: $footer-height-sm;
  }

  .main-container {
    height: calc(100vh - ( #{$footer-height-sm} + #{$navbar-height-sm} ) );
  }

  .full-logo {
    width: 280px;
  }

  .navbar-avatar {
    width: 40px;
    top: 15px;
  }

  .navbar-avatar-container {
    height: $navbar-height-sm;
    width: 70px;
  }

  .main-sidenav {
    width: 250px;
  }

  /* =============================================
  Main Sidenav
  ==============================================*/

  .main-sidenav {
    padding: 40px 10px;
  }

  .main-sidenav-links li {
    height: 70px;
    margin: 16px 0;
  }

  .main-sidenav-links span {
    margin-left: 10px;
  }

  .main-sidenav-text {
    width: 38%;
    font-family: $second-font-regular;
    font-size: 18px;
  }

  .main-sidenav-profile-icon {
    width: 16px;
    height: 16px;
  }

  /* =============================================
  Home Elements
  ==============================================*/

  .home-header {
    max-width: 600px;
    font-size: 80px;
  }

  .home-buttons-container {
    max-width: 400px;
  }

  .home-button {
    font-size: 30px;
    border-width: 3px;
    padding: 10px;
  }

  .home-button-bottom {
    margin-top: 45px;
  }

  /* =============================================
  Footer
  ==============================================*/

  .footer-links {
    font-size: 13px;
  }


  
}
