/* =============================================
App Layout Template
==============================================*/

#mainContentContainer {
  position: relative;
  right: 0px;
  height: 100%;
  position: relative;
  margin: none;
}

body, html {
  min-height: 0;
  height: 100vh;
  background-color: $dark-gray;
}

.header-container {
  height: 100%;
}

.main-container {
  height: calc(100vh - ( #{$navbar-height} + #{$footer-height} ) );
  position: relative;
}

.home-container {
  padding: 15px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.home-buttons-container {
  width: 100%;
  max-width: 200px;
  text-align: center;
}
>>>>>>> master
