<!-- Passes the current page title to application.html.erb -->
<%= content_for :page_title, @game.name %>

<div class="chessgame-container">
  <div class="game-bar" id="gameBarTop">
  </div>
  <table class="chessboard" id="chessBoard">
    <%= render_board(@pieces, @game) %>
  </table>
  <div class="game-bar" id="gameBarBottom">
  </div>
</div>
