<!-- Passes the current page title to application.html.erb -->
<%= content_for :page_title, @game.name %>

<div class="chessgame-container">
  <%= content_tag(:div, '', class: 'game-bar', id: 'gameBarBottom', data: { other_player_color: determine_player_id(@game)[1] }) %>

  <%= render_board(@pieces, @game) %>


  <%= content_tag(:div, '', class: 'game-bar', id: 'gameBarBottom', data: { current_player_color: determine_player_id(@game)[0] }) %>
</div>
