/* =============================================
Hover States
==============================================*/

.navbar-avatar-container:hover {
  background-color: $yellow;
  cursor: pointer;
}

.navbar-avatar {
  background: url('icons/avatar.svg') no-repeat;
  height: 40px;
  width: 30px;
  top: 10px;
  position: relative;
  margin: auto;
  text-align: center;
}

.footer-links a:hover {
  color: $yellow;
}

.home-button:hover {
  border-color: white;
  color: white;
}

.main-sidenav-links a:hover {
  background-color: $yellow;
}

.modal-close:hover {
  color: $yellow;
}

.form-footer-links-and-statuses a:hover {
  color: $red;
  cursor: pointer;
}

.chess-square-states:hover {
  cursor: pointer;
  background-color: $yellow;
}
