/* ====================================
Feel free to develop in here before
organizing your scss into separate files.
Just make sure this file is empty when
you commit.
======================================*/







/* ====================================
Media Queries.
======================================*/

@media (min-width: 550px) {



}


@media (min-width: $screen-sm-min) {
  .form-control {
    margin: 43px 0;
    height: 50px;
    font-size: 15px;
  }

  .modal-dialog {
    width: 83%;
    margin: auto;
    height: auto;
    max-width: 600px;
  }

  .modal-content {
    padding: 6px 25px 25px 25px;
  }

  .modal-close {
    font-size: 37px;
    line-height: 0.8;
  }

  .modal-header {
    padding: 0;
    border-bottom: 1px solid $light-gray;
  }

  .modal-title {
    font-size: 16px;
    height: 100%;
  }

  .modal-footer {
    height: 15%;
  }

  .btn {
    padding: 12px 36px;
    font-size: 18px;
  }
}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {



}
