/* ====================================
Feel free to develop in here before
organizing your scss into separate files.
Just make sure this file is empty when
you commit.
======================================*/

.home-header {
  color: $yellow;
  font-family: $font-bold;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 220px;
}

.home-container {
  padding: 15px 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.home-button {
  display: block;
  background-color: $dark-gray;
  border: 2px solid $yellow;
  font-family: $font-light;
  color: $yellow;
  font-size: 20px;
  width: 100%;
  transition: $linear-transition;
}

.home-button-bottom {
  margin-top: 20px;
}

.home-buttons-container {
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.home-button:hover {
  border: 2px solid white;
  color: white;
}

/* ====================================
Media Queries.
======================================*/


@media (min-width: $screen-sm-min) {


}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {



}
