<nav class="navbar navbar-default">
  <div class="container header-container">
    <div class="navbar-header">
      <%= link_to "Chessmaster Logo", root_path, class: "navbar-brand full-logo text-hide" %>
    </div>
  </div>
</nav>
