<div id="mainSideNav" class="main-sidenav">
  <ul class="main-sidenav-links">
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="main-sidenav-text main-sidenav-logout">
          <i class="logout"></i><span>Logout</span>
        </div>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_path(current_user) do %>
        <div class="main-sidenav-text main-sidenav-profile">
          <i class="avatar main-sidenav-profile-icon"></i><span>Profile</span>
        </div>
      <% end %>
    </li>
    <li>
      <%= link_to page_path(:the_team) do %>
        <div class="main-sidenav-text main-sidenav-contact">
          <i class="contact"></i><span>Contact</span>
        </div>
      <% end %>
    </li>
  </ul>
</div>
